.up-arrow {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 25px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #06D6A0; 
    color: white; 
    cursor: pointer;
    margin-bottom: 70px;
    padding: 15px; 
    border-radius: 50%; 
    font-size: 18px; 
    transition: opacity 0.7s ease-in-out;
}

.up-arrow.visible {
    display: block;
    opacity: 1;
}

.up-arrow:hover {
    transition:all 0.3s ease-in;
    background-color: #EF476F;
}
