@import 'font-awesome/css/font-awesome.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
    scroll-behavior: smooth;
}

::-moz-selection {
    background: #FFD166;
}

::selection {
    background: #FFD166;
}

.profile-background {
    background: hsla(164, 95%, 43%, 1) 100%;

    background: linear-gradient(180deg, hsla(346, 84%, 61%, 1) 0%, hsla(42, 100%, 70%, 1) 52%, hsla(164, 95%, 43%, 1) 100%, hsla(195, 83%, 38%, 1) 100%);

    background: -moz-linear-gradient(180deg, hsla(346, 84%, 61%, 1) 0%, hsla(42, 100%, 70%, 1) 52%, hsla(164, 95%, 43%, 1) 100%, hsla(195, 83%, 38%, 1) 100%);

    background: -webkit-linear-gradient(180deg, hsla(346, 84%, 61%, 1) 0%, hsla(42, 100%, 70%, 1) 52%, hsla(164, 95%, 43%, 1) 100%, hsla(195, 83%, 38%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#06D6A0", endColorstr="#FFD166", GradientType=1);
}

img {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}